<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=restaurant.name%></title>
</head>
<%- include('./partials/nav') %>
<body>
  <h1><%= restaurant.name%></h1>
  <h3><%=restaurant.address%></h3>
  <h3><%=restaurant.phone%></h3>
</body>
</html>
